.linkClass {
    display: block;
    padding: .5rem 1rem;
    
    text-decoration: none;
    color: rgba(0,0,0,.55);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
a.linkClass {
    color: rgba(0,0,0,.55);
}

nav.navbar.navbar-expand.navbar-light.bg-light {
    background-image: url("./bgimage.png");

    min-height: 300px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /* Needed to position the navbar */
    position: relative;
}
a.navbar-brand {
    font-size: 2.25rem;
}
nav.navbar.navbar-expand.navbar-light.bg-light {
    align-items: center;
}
a.linkClass {
    /* color: rgba(0,0,0,255); */
    color: aliceblue;
    font-size: large;
}

a.title {
    color: #fdf60d;
    text-decoration: none;
    font-size: 36px;
    font-family: cursive;
    font-weight: 500;
}
